 <form action="{% url 'mbti'  %}" method = "POST">
    {% csrf_token %}
    사람만나는 것을 좋아한다<br>
    <input type='radio' name='e' value='E' />yes
    <input type='radio' name='e' value='I' />no
    <br>
    나는 감각적이다<br>
    <input type='radio' name='s' value='S'/>yes
    <input type='radio' name='s' value='N' />no
    <br>
    나는 원칙적이다<br>
    <input type='radio' name='t' value='T' />yes
    <input type='radio' name='t' value='F' />no
    <br>
    나는 계획적이다<br>
    <input type='radio' name='j' value='J'/>yes
    <input type='radio' name='j' value='P' />no
    <br>
    <input type='submit'>
  </form>